body {
	background-color: #F5F5F5;
	color: #4D6FFF;
}

h1 {
    font-size:3em;
}

p {
    margin: 5px 0px 0px 0px;
}

.titledesc{
    font-size:1.4em;
    color: #4D6FFF;
}

.title{
    font-size:2.5em;
}

.border{
    border-width:1px;
    border-style: solid;
    border-color: #000;
}

.overlay{
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
    opacity:0.9;
    cursor: pointer;
    margin: 0px 15px 0px 15px;
}

.grid-title {
    margin-top:30px;
    text-align:center;
    color:#fff;
}

.overlaydesc {
    color:#fff;
    font-size:1.25em;
    padding-left:15px;
    padding-right:15px;
}

.grid-item {
    padding: 0 15px 0px 15px;
    margin-bottom:30px;
}

.inner {
    border-style:solid;
    border-width:1px;
    border-color:#ccc;
}

.button-group {
    padding: 0 30px 20px 30px;
}

button {
    border: 0px solid;
    font-size:1.4em;
    background-color:#F5F5F5;
    padding: 5px;
    margin-right:10px;
    outline:0;
    color:#999;
}

.highlight {
    color:#000;
}

.links {
    font-size:1.4em;
}

.links:link {
    font-size:1em;
	color: #4D6FFF;
}

.links:hover {
    color:#000;
}

img.links {
	width:25px;
	filter: invert(41%) sepia(15%) saturate(5846%) hue-rotate(211deg) brightness(99%) contrast(106%);
}

img.links:hover {
	filter: invert(67%) sepia(0%) saturate(98%) hue-rotate(144deg) brightness(93%) contrast(81%);
}


.button-group {
    margin-top:20px;
}

.header {
    margin-left:15px;
    margin-right:15px;
}

a:link {
    color:#999;
    text-decoration: none;
}

a:visited {
    color:#999;
    text-decoration: none;
}

a:hover {
    color:#999; 
    text-decoration: none;
}
a:active {
    color:#999;
    text-decoration: none;
}
